<html>
<head>
<title> PIZZA RESTOCK PAGE </title>
	
<body>
	

	<STYLE>

	body{
		
		background:url(mypizzapic.jpg);
		background-position: center;
		
}
	TABLE{
  	border: 1px outset black;
        
        
       
	}

	TH {
  	
       border: 1px inset gray;

	padding: 2px;

	}

	TD {
  	//border: 1px inset gray;
        bgcolor: white;
	padding: 2px;
       

	}

	DIV{

    	text-align: center;
        

	}?

	
	</STYLE>

        <TABLE ALIGN= "CENTER" BACKGROUND="Yellow.jpg" WIDTH = "600" HEIGHT = "200">
		<TR>
			<TD>Small Vegetable Pizza</TD>
			<TD>
				<INPUT TYPE="NUMBER" NAME="data" SIZE="20">
			</TD>
		</TR>


		<TR>
			<TD>Large Vegetable Pizza</TD>
			<TD>
				<INPUT TYPE="NUMBER" NAME="data" SIZE="25">				</TD>
		</TR>


		<TR>
			<TD>Small Peperroni Pizza</TD>
			<TD>
				<INPUT TYPE="NUMBER" NAME="data" SIZE="25">				</TD>
		</TR>


		<TR>
			<TD>Large Peperroni Pizza</TD>
			<TD>
				<INPUT TYPE="NUMBER" NAME="data" SIZE="25">				</TD>
		</TR>

	</TABLE>

	<DIV>
		<P></P>
		
		<INPUT TYPE="SUBMIT" VALUE="RESTOCK" NAME= "B1" >

		
	</DIV>


	
</body>
</head>
</html>
	