{% extends "base.html" %}


{% block body %}

<div class="container">
  <div class="card card-login mx-auto mt-5">
    <form style="width: 70%; margin: auto; margin-top: 7%; margin-bottom: 7%" class="form-group" action="{{ url_for('updateItem') }}" method="POST">
    
      Name of item:<br>
      <input required class="form-control" type="text" name="item_name" >
      <br><br>
      Quantity left:<br>
      <input required class="form-control" type="number" name="quantity_left" min="10" max="10000">
      <br><br>
      Revenue:<br>
      <input required class="form-control" type="number" name="revenue">
      <br><br>
      Price:<br>
      <input required class="form-control" type="number" name="price" min="20"max="1000" >
      <br><br>
      <input class="form-control" type="submit">
    </form>
  </div>
</div>

{% endblock %}